.scoreboard {
    align-items: center;
    background-color: #f7f5c4;
    border: 1px solid black;
    display: flex;
    flex-flow: column nowrap;
    height: 50%;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

.scoreboard-list {
    list-style: none;
    margin: 20px;
    /* replace bullet points with little images? */
}