.answer-container {
  color: white;
  font-size: 1.3vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
  margin-top: 4vh;
  word-break: break-all;
}