.start-game-form {
  background-color: #1a522c;
  border: 20px ridge #976237!important;
  color: white;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
  padding: 3%;
  width: 80vw;
}

.categories {
  display: grid;
  height: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%
}

.round-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
}

.player-input,
.teachers-pets,
.play-btn {
  align-self: center;
  width: 33%
}

.input-msg-red {
  color: red
}