.start-game-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 20px ridge #976237!important;
  background-color: #1a522c;
  width: 80vw;
  height: 80vh;
  color: white;
}

.categories {
  display: grid;
  height: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%
}

.round-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
}

.player-input,
.play-btn {
  align-self: center;
  width: 33%
}