.start-game-form {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%
}

.categories {
  display: grid;
  height: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%
}

.round-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
}

.play-btn {
  align-self: center;
  width: 33%
}