.modal {
  border: 20px ridge #976237!important;
  background-color: #1a522c;
  width: 80vw;
  height: 70vh;
  color: white;
  position: fixed!important;
  top: 27.5%;
  left: 9.7%;
  font-size: 3vh;
  padding: 10%;
  margin-bottom: 20vh;
}

.nes-btn {
  margin-top: 2vh;
}